@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a href="goal" class="button-main">Goals</a>
    <br />
    <br />
    <a href="plan" class="button-main">Plans</a>
    <br />
    <br />
    <a href="progress" class="button-main">Progress</a>
    <br />
    <br />
    <a href="result" class="button-main">Results</a>
</div>
