@{
    ViewData["Title"] = "Index/Goal";
}

<div class="text-center">
    <h1>Your Goals</h1>
    <p>@ViewData["GoalIndexMessage"]</p>
</div>
<div class="text-center">
    <a href="goal/SetGoals" class="button">Set Goals</a>
    <a href="goal/EditGoals" class="button">Edit Goals</a>
</div>