@{
    ViewData["Title"] = "Index/Plan";
}
<div class="text-center">
    <a href="/" class="button-return">Back</a>
</div>

<div class="text-center">
    <h1>Your Plans</h1>
    <p>@ViewData["PlanIndexMessage"]</p>
</div>
