@{
    ViewData["Title"] = "Index/Progress";
}
<div class="text-center">
    <a href="/" class="button-return">Back</a>
</div>

<div class="text-center">
    <h1>Progress</h1>
    <p>@ViewData["ProgressIndexMessage"]</p>
</div>
