@{
    ViewData["Title"] = "Index/Result";
}
<div class="text-center">
    <a href="/" class="button-return">Back</a>
</div>

<div class="text-center">
    <h1>Your Results</h1>
    <p>@ViewData["ResultIndexMessage"]</p>
</div>
